[ui]
address = 'http://:{{ ui.port.host }}'

[app]
address = ":{{ backend.port.host }}"
domain = "127.0.0.1"
tmp_samples = "/tmp/samples"
max_file_size = {{ backend.max_file_size }}
max_avatar_file_size = {{ backend.max_avatar_file_size }}
admin_user = "{{ backend.admin.user }}"
admin_pwd = "{{ backend.admin.password }}"
admin_email = "{{ backend.admin.email }}"

[db]
server = "couchbase://10.77.1.1"
username = "{{ couchbase.username }}"
password = "{{ couchbase.password }}"

[nsq]
address = '10.77.1.1:{{ nsq.port.tcp.host }}'

[minio]
endpoint = '10.77.1.1:{{ minio.port.host }}'
accesskey = '{{ minio.accesskey }}'
seckey = '{{ minio.seckey }}'
spacename = 'samples'
avatarspace = 'images'
ssl = false

[auth]
signkey = '{{ backend.signkey }}'

[smtp]
# server = "smtp.gmail.com"
# port = 465
# user =  "noreply@mysaferwall.com"
# password = "password"
# identity = "CompanyIdentify"
# sender = "noreply@mysaferwall.com"
