apiVersion: v1
kind: Pod
metadata:
  name: couchbase-pod
spec:
  restartPolicy: OnFailure
  containers:
  - name: couchbase
    image: docker.io/couchbase/server:{{ couchbase.version }}
    command: ['couchbase-server']
    ports:
    - containerPort: {{ couchbase.port.rest_port.container }}
      hostPort: {{ couchbase.port.rest_port.host }}
      hostIP: 0.0.0.0
      protocol: tcp
    - containerPort: {{ couchbase.port.capi_port.container }}
      hostPort: {{ couchbase.port.capi_port.host }}
      hostIP: 0.0.0.0
      protocol: tcp
    - containerPort: {{ couchbase.port.query_port.container }}
      hostPort: {{ couchbase.port.query_port.host }}
      hostIP: 0.0.0.0
      protocol: tcp
    - containerPort: {{ couchbase.port.fts_http_port.container }}
      hostPort: {{ couchbase.port.fts_http_port.host }}
      hostIP: 0.0.0.0
      protocol: tcp
    - containerPort: {{ couchbase.port.cbas_http_port.container }}
      hostPort: {{ couchbase.port.cbas_http_port.host }}
      hostIP: 0.0.0.0
      protocol: tcp
    - containerPort: {{ couchbase.port.eventing_http_port.container }}
      hostPort: {{ couchbase.port.eventing_http_port.host }}
      hostIP: 0.0.0.0
      protocol: tcp
    - containerPort: {{ couchbase.port.memcached_http_port.container }}
      hostPort: {{ couchbase.port.memcached_http_port.host }}
      hostIP: 0.0.0.0
      protocol: tcp
    volumeMounts:
    - mountPath: /opt/couchbase/var
      name: data
  volumes:
  - name: data
    persistentVolumeClaim:
      claimName: couchbase-data
