apiVersion: v1
kind: Pod
metadata:
  name: minio-pod
spec:
  restartPolicy: OnFailure
  containers:
  - name: minio
    image: docker.io/minio/minio:{{ minio.version }}
    command: ['minio', 'server', '/data']
    ports:
    - containerPort: {{ minio.port.container }}
      hostPort: {{ minio.port.host }}
      hostIP: 0.0.0.0
      protocol: tcp
    env:
    - name: MINIO_ACCESS_KEY
      value: {{ minio.accesskey }}
    - name: MINIO_SECRET_KEY
      value: {{ minio.seckey }}
    volumeMounts:
    - mountPath: /data
      name: data
  volumes:
  - name: data
    persistentVolumeClaim:
      claimName: minio-data
