apiVersion: v1
kind: Pod
metadata:
  annotations:
    seccomp.security.alpha.kubernetes.io/pod: localhost/seccomp.json
  name: multiav-pod
spec:
  restartPolicy: OnFailure
  containers:
  {% if multiav.clamav.enabled -%}
  - name: clamav
    image: localhost/saferwall/goclamav:{{ multiav.clamav.version }}
    resources:
      requests:
        memory: {{ multiav.clamav.resources.requests.memory }}
      limits:
        memory: {{ multiav.clamav.resources.limits.memory }}
    ports:
    - containerPort: {{ multiav.clamav.port.container }}
      hostPort: {{ multiav.clamav.port.container }}
      hostIP: 0.0.0.0
      protocol: tcp
    env:
    - name: LISTEN_PORT
      value: {{ multiav.clamav.port.container }}
    volumeMounts:
    - mountPath: /samples
      name: samples
    - mountPath: /etc/clamav/clamd.conf
      name: clamav-conf
  {% endif %}
  {% if multiav.comodo.enabled -%}
  - name: comodo
    image: localhost/saferwall/gocomodo:{{ multiav.comodo.version }}
    resources:
      requests:
        memory: {{ multiav.comodo.resources.requests.memory }}
      limits:
        memory: {{ multiav.comodo.resources.limits.memory }}
    ports:
    - containerPort: {{ multiav.comodo.port.container }}
      hostPort: {{ multiav.comodo.port.container }}
      hostIP: 0.0.0.0
      protocol: tcp
    env:
    - name: LISTEN_PORT
      value: {{ multiav.comodo.port.container }}
    volumeMounts:
    - mountPath: /samples
      name: samples
  {% endif %}
  {% if multiav.sophos.enabled -%}
  - name: sophos
    image: localhost/saferwall/gosophos:{{ multiav.sophos.version }}
    resources:
      requests:
        memory: {{ multiav.sophos.resources.requests.memory }}
      limits:
        memory: {{ multiav.sophos.resources.limits.memory }}
    ports:
    - containerPort: {{ multiav.sophos.port.container }}
      hostPort: {{ multiav.sophos.port.container }}
      hostIP: 0.0.0.0
      protocol: tcp
    env:
    - name: LISTEN_PORT
      value: {{ multiav.sophos.port.container }}
    volumeMounts:
    - mountPath: /samples
      name: samples
  {% endif %}
  {% if multiav.windefender.enabled -%}
  - name: windefender
    image: localhost/saferwall/gowindefender:{{ multiav.windefender.version }}
    resources:
      requests:
        memory: {{ multiav.windefender.resources.requests.memory }}
      limits:
        memory: {{ multiav.windefender.resources.limits.memory }}
    ports:
    - containerPort: {{ multiav.windefender.port.container }}
      hostPort: {{ multiav.windefender.port.container }}
      hostIP: 0.0.0.0
      protocol: tcp
    env:
    - name: LISTEN_PORT
      value: {{ multiav.windefender.port.container }}
    volumeMounts:
    - mountPath: /samples
      name: samples
  {% endif %}
  volumes:
  - name: samples
    persistentVolumeClaim:
      claimName: samples-data
  - name: clamav-conf
    hostPath:
      path: /opt/saferwall/clamd.conf
