apiVersion: v1
kind: Pod
metadata:
  name: nsq-pod
spec:
  restartPolicy: OnFailure
  containers:
  - name: nsqlookup
    image: docker.io/nsqio/nsq:{{ nsq.version }}
    command: ['/nsqlookupd']
    ports:
    - containerPort: {{ nsq.nsqlookup.port.tcp.container }}
      hostPort: {{ nsq.nsqlookup.port.tcp.host }}
      hostIP: 0.0.0.0
      protocol: tcp
    - containerPort: {{ nsq.nsqlookup.port.http.container }}
      hostPort: {{ nsq.nsqlookup.port.http.host }}
      hostIP: 0.0.0.0
      protocol: tcp
  - name: nsq
    image: docker.io/nsqio/nsq:{{ nsq.version }}
    command: ['/nsqd', '--data-path=/data', '--broadcast-address=nsq-pod.saferwall', '--lookupd-tcp-address=127.0.0.1:{{ nsq.nsqlookup.port.tcp.container }}']
    ports:
    - containerPort: {{ nsq.port.tcp.container }}
      hostPort: {{ nsq.port.tcp.host }}
      hostIP: 0.0.0.0
      protocol: tcp
    - containerPort: {{ nsq.port.http.container }}
      hostPort: {{ nsq.port.http.host }}
      hostIP: 0.0.0.0
      protocol: tcp
    - containerPort: {{ nsq.port.https.container }}
      hostPort: {{ nsq.port.https.host }}
      hostIP: 0.0.0.0
      protocol: tcp
    volumeMounts:
    - mountPath: /data
      name: data
  - name: nsqadmin
    image: docker.io/nsqio/nsq:{{ nsq.version }}
    command: ['/nsqadmin', '--lookupd-http-address=127.0.0.1:{{ nsq.nsqlookup.port.http.container }}']
    ports:
    - containerPort: {{ nsq.nsqadmin.port.container }}
      hostPort: {{ nsq.nsqadmin.port.host }}
      hostIP: 0.0.0.0
      protocol: tcp
  volumes:
  - name: data
    persistentVolumeClaim:
      claimName: nsq-data
