apiVersion: v1
kind: Pod
metadata:
  name: saferwall-pod
spec:
  restartPolicy: OnFailure
  containers:
  - name: backend
    image: localhost/saferwall/backend:{{ backend.version }}
    workingDir: /backend
    resources:
      requests:
        memory: {{ backend.resources.requests.memory }}
      limits:
        memory: {{ backend.resources.limits.memory }}
    ports:
    - containerPort: {{ backend.port.container }}
      hostPort: {{ backend.port.host }}
      hostIP: 0.0.0.0
      protocol: tcp
    env:
    - name: ENVIRONMENT
      value: "prod"
    volumeMounts:
    - mountPath: /backend/config/app.prod.toml
      name: backend-conf
  - name: ui
    image: localhost/saferwall/ui:{{ ui.version }}
    resources:
      requests:
        memory: {{ ui.resources.requests.memory }}
      limits:
        memory: {{ ui.resources.limits.memory }}
    ports:
    - containerPort: {{ ui.port.container }}
      hostPort: {{ ui.port.host }}
      hostIP: 0.0.0.0
      protocol: tcp
  - name: consumer
    image: localhost/saferwall/consumer:{{ consumer.version }}
    workingDir: /consumer
    resources:
      requests:
        memory: {{ consumer.resources.requests.memory }}
      limits:
        memory: {{ consumer.resources.limits.memory }}
    env:
    - name: ENVIRONMENT
      value: "prod"
    volumeMounts:
    - mountPath: /consumer/configs/saferwall.prod.toml
      name: consumer-conf
    - mountPath: /samples
      name: samples
  volumes:
  - name: backend-conf
    hostPath:
      path: /opt/saferwall/backend-conf.toml
  - name: consumer-conf
    hostPath:
      path: /opt/saferwall/consumer-conf.toml
  - name: samples
    persistentVolumeClaim:
      claimName: samples-data
